@import "tailwindcss";

@theme {
  --color-coffee-50: #fdfaf7;
  --color-coffee-100: #f5f0e8;
  --color-coffee-200: #e6d5bc;
  --color-coffee-400: #c08552;
  --color-coffee-600: #8d5d34;
  --color-coffee-800: #4b382a;
  --color-coffee-900: #2c1e14;
  --color-accent-gold: #d4a373;
  --color-accent-green: #606c38;
}

@layer base {
  body {
    @apply bg-coffee-50 text-coffee-900 antialiased font-sans;
  }
}
